1번 문제. L=[1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.

In [2]:
L = [1, 2, 3, 4, 5]
L[1:3] = [100]
print L

[1, 100, 4, 5]

L[1:3]이면 2번째 3번째 인덱스가 있는 곳에 100을 넣어야 되므로 2, 3이 사라지고 100이 출력됩니다.

In [3]:
L = [1, 2, 3, 4, 5]
L[1:3] = [(100)]
print L

[1, 100, 4, 5]

이번 L[1:3]안에 있는 100은 튜플값이므로 위와 똑같이 2, 3 자리에 100이 저장됩니다.

In [5]:
L = [1, 2, 3, 4, 5]
L[1:3] = 100
print L

TypeError: can only assign an iterable

100은 인트형이기때문에 삽입불가능

In [7]:
L = [1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print L

[1, 100, 101, 102, 4, 5]

리스트원소를 튜플값으로 넣어서 2, 3자리에 100, 101, 102가 인덱스로 저장됩니다.

In [9]:
L = [1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print L

[1, 100, 101, 102, 4, 5]

리스트안에 리스트를 넣어서 똑같이 2, 3 안에 100, 101, 102가 저장됩니다.

In [10]:
L = [1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print L

[1, (100, 101, 102), 4, 5]

리스트안에 튜플값 여러개를 넣어서 1:3안에 튜플객체가 저장되므로 ()가 저장됩니다.

In [11]:
L = [1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print L

[1, [100, 101, 102], 4, 5]

역시 마찬가지로 인덱스값이 [100, 101, 102]리스트가 저장되므로 2, 3, 안에 리스트객체 100, 101, 102가 저장됩니다.

문제 2번. 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [99]:
S = 'Hello World and Python'
s1 = S[16:] + " " + S[12:15] + " " + S[6:11] + " " + S[0:5]
print s1
l1 = s1.split()
print l1
for i in range(4):
    l2 += ''.join(l1[i])

print l2

Python and World Hello
['Python', 'and', 'World', 'Hello']
HelloHelloPythonPythonandWorldHelloPythonandWorldHello

3번문제 다음 코드를 보고 물음에 답하시오.

a = [1, 2, 3]
b = a * 3
c = [a] * 3
print b
print c
1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.
a[0]=0

In [21]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print b
print c
a[0] = 0
print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

2) b와 c 객체의 차이는 무엇인가?

a[0] = 0일때 a * 3 은 기존의 리스트를 반복하여 하나의 리스트로 만드는 것입니다.
[a] * 3은 a의 리스트를 다시 리스트화 시켜서 [[0, 2, 3,]]이 되므로 리스트를 반복하여 하나의 리스트를 만드므로 안에 []까지 붙게 됩니다.

문제 4번. 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오 (즉, 문자열 S에서 l을 만들어라)
s = '  first star   :   second star   :    third star  '
l = ['first star', 'second star', 'third star']
1) for ~ in 문을 이용한 코드를 작성하시오.
2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [115]:
s = '  first star   :   second star   :    third star  '
l = ['first star', 'second star', 'third star']
##s = s.strip()
print s
t1 = s.split(':')
print t1


for i in range(3):
        t1[i] = t1[i].strip()
print t1

t1 = s.split(':')
L = [t1[i].strip() for i in range(3)]
print L

  first star   :   second star   :    third star
['  first star   ', '   second star   ', '    third star  ']
['first star', 'second star', 'third star']
['first star', 'second star', 'third star']

문제 5번. 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터널과 리스트 내포 방식으로 각각 제시하시오.
1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
>>> addall([1])
1
>>> addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
45
2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)
>>> addallodd([1])
1
>>> addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [136]:
def addall(list):
    result = 0
    for i in range(0,len(list)):
        result += list[i]
    return result

L = [1, 2, 3, 4, 5 ,6 , 7]
print addall(L)

28

문제 6. 다음 코드를 보고 물음에 답하시오.

L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print d
print e
print f
print
d['low'] = [10, 20, 30]
d['high'][1] = 500
print d
print e
print f
1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?
2) 위 코드의 수행 결과 마지막 f의 내용은 다음과 같다. 이 때 'high' 키의 값 내용 중 500이 출력된 이유와 'low' 키의 값 내용 중 [1, 2, 3]이 출력된 이유를 설명하시오 ([hint]: shallow copy 관점에서 설명하시오.)
{'high': [4, 500, 6], 'low': [1, 2, 3]}

In [117]:
L1 = [1, 2, 3]
L2 = [4, 5, 6]
d = {'low':L1, 'high':L2}
e = d
f = d.copy()
print d
print e
print f
print
d['low'] = [10, 20, 30]
d['high'][1] = 500
print d
print e
print f

{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}
{'high': [4, 5, 6], 'low': [1, 2, 3]}

{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [10, 20, 30]}
{'high': [4, 500, 6], 'low': [1, 2, 3]}

1). e는 d의 값을 참조하고 있기 때문에 d의 값이 변하면 e도 같이 따라 변하게 된다.
2).f는 d의 주소값을 참조하고 있다. 따라서 d의 값이 변하면 기존에 있던 d와 다른 주소를 가지게 되는데 f는 그전의 d의 주소값을 참조하고 있으므로 변하지 않는다.

문제 7. 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오
[참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.
1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [134]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
print d.keys()
print d.values()
l1 = d.values()
l2 = d.keys()
print l1.sort()
print l1
print l2.sort()
print l2

['four', 'three', 'five', 'two', 'one']
[4, 3, 5, 2, 1]
None
[1, 2, 3, 4, 5]
None
['five', 'four', 'one', 'three', 'two']

오일러문제 7.소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.

이 때 10,001번째의 소수를 구하세요.

In [ ]:
import math
num = 3
count = 1

def prime(p):
    for x in xrange(2, int(math.sqrt(p)+1)):
        if p % x == 0:
            return False
        else:
            return True

while 1:
    if prime(num) == True:
        count += 1
        if count == 10001:
            print num
            break
        num += 2

만약 num이 합성수일때 num = a * b의 형태가 되므로 
a 와 b 둘중 하나는 제곱근 N보다 작거나 같으므로 p를 구할 수 있다.

오일러문제 8 다음은 연속된 1000자리 숫자입니다 (읽기 좋게 50자리씩 잘라놓음).

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

여기서 붉게 표시된 71112의 경우 7, 1, 1, 1, 2 각 숫자를 모두 곱하면 14가 됩니다.

이런 식으로 맨 처음 (7 × 3 × 1 × 6 × 7 = 882) 부터 맨 끝 (6 × 3 × 4 × 5 × 0 = 0) 까지 5자리 숫자들의 곱을 구할 수 있습니다.
이렇게 구할 수 있는 5자리 숫자의 곱 중에서 가장 큰 값은 얼마입니까?

In [ ]:
num = "73167176531330624919225119674426574742355349194934 96983520312774506326239578318016984801869478851843 85861560789112949495459501737958331952853208805511 12540698747158523863050715693290963295227443043557 66896648950445244523161731856403098711121722383113 62229893423380308135336276614282806444486645238749 30358907296290491560440772390713810515859307960866 70172427121883998797908792274921901699720888093776 65727333001053367881220235421809751254540594752243 52584907711670556013604839586446706324415722155397 53697817977846174064955149290862569321978468622482 83972241375657056057490261407972968652414535100474 82166370484403199890008895243450658541227588666881 16427171479924442928230863465674813919123162824586 17866458359124566529476545682848912883142607690042 24219022671055626321111109370544217506941658960408 07198403850962455444362981230987879927244284909188 84580156166097919133875499200524063689912560717606 05886116467109405077541002256983155200055935729725 71636269561882670428252483600823257530420752963450"
max = 0
first = 0
end = 5

wihle end < len(num):
    sum = 1
    cut = num[first:end]
    for x in cut:
        sum = sum * int(x)
    if max < sum:
        max = sum
    first += 1
    end += 1
print max

수를 전부 list로 만들어서 각각의 처음과 끝을 증가시켜서 해겻했습니다.

오일러 문제 9. 세 자연수 a, b, c 가 피타고라스 정리 a2 + b2 = c2 를 만족하면 피타고라스 수라고 부릅니다 (여기서 a < b < c ).
예를 들면 32 + 42 = 9 + 16 = 25 = 52이므로 3, 4, 5는 피타고라스 수입니다.

a + b + c = 1000 인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이 때, a × b × c 는 얼마입니까?

In [ ]:
for x in xrange(1, 1000):
    for b in xrange(a+1, 1000, 2):
        if(2*a+b >= 1000):
            break
        if(a + 2*b >= 1000):
            break
        c = 1000 - a - b
        if(a **2 + b ** 2 == c ** 2):
            print a * b * c

a + b + c 가 1000이고 c = 100- a - b
a < b < c이므로
a < b < 1000 - a -b
2a + b < a + 2b < c가 성립한다.